rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read for everyone (temporary)
      allow read: if true;
      
      // We will deny writes from the web for now. Only the Mini-PC (via Admin SDK) can write.
      allow write: if false;
    }
  }
}
